@charset "UTF-8";
body {
  background-color: #FFFFFF;
  color: var(--secondary-text-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

/* цвет основного текста #212121; */
/* вторичный цвет текста  #757575; */
/* цвет акцента #2196F3; */
/* белый цвет текста #FFFFFF; */
/* цвет лого #000000 */
/* вторичный цвет фона #F5F4FA;  */
:root {
  --accent-color: #2196F3;
  --primary-text-color: #212121;
  --secondary-text-color:#757575;
  --white-color:#FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.container {
  width: 1200px;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-bottom: 94px;
}

.section-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
}

.advantages {
  display: flex;
}

.advantages .item {
  width: 270px;
}

.advantages .item + .item {
  margin-left: 30px;
}

.advantages .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages .description {
  margin-top: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.advantages-icon {
  display: flex;
}

.advantages-icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages-icon-item:not(:last-child) {
  margin-right: 30px;
}

.work.list {
  display: flex;
}

.work .item + .item {
  margin-left: 30px;
}

.product {
  position: relative;
}

.product-overlay {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.team.list {
  display: flex;
}

.item.team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .item + .item {
  margin-left: 30px;
}

.team-name {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}

.team-position {
  text-align: center;
  margin-top: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.section-title.team {
  padding-top: 94px;
}

.team-container {
  padding: 30px 32px;
  background-color: var(--white-color);
}

.section.team {
  background-color: #F5F4FA;
}

.social-list.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
  transition-property: color;
  transition-property: background-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list.link:hover .icon,
.social-list.link:focus .icon {
  fill: var(--white-color);
}

.social-list.link:hover, .social-list.link:focus {
  background-color: var(--accent-color);
}

.icon {
  fill: #AFB1B8;
}

.social-list.point:not(:last-child) {
  margin-right: 10px;
}

.social-list.list {
  display: flex;
  justify-content: space-between;
}

.hero {
  text-align: center;
  min-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2F303A;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  margin-bottom: 30px;
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
}

.button {
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.185;
  letter-spacing: 0.06em;
  border: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9) rotate(90deg);
}

.close-btn {
  padding: 3px 3px;
  border: 1px solid rgba(26, 16, 16, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
}

.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
}

.close-position {
  position: absolute;
  top: 8px;
  right: 8px;
}

.call-back {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus, .modal__form-input:hover {
  outline: none;
  border-color: var(--accent-color);
}

.modal__form-input:focus + .modal__form-icon,
.modal__form-input:hover + .modal__form-icon {
  fill: var(--accent-color);
}

.modal__form-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal__form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-message:focus, .modal__form-message:hover {
  outline: none;
  border-color: var(--accent-color);
}

.modal__form-policy:checked + .modal__form-policy-text::before {
  background-image: url(../images/accept.svg);
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 16px 15px;
  border: 1px solid var(--accent-color);
}

.modal__form-policy-text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.modal__form-policy-text::before {
  display: inline-flex;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid black;
  margin-right: 8px;
}

.button-modal {
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.185;
  letter-spacing: 0.06em;
  border: none;
  margin: 0 auto;
}

.section.clients {
  padding-top: 94px;
}

.clients-list {
  display: flex;
  list-style: none;
}

.clients-link {
  width: 170px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .icon,
.clients-link:focus .icon {
  fill: var(--accent-color);
}

.clients-link:hover, .clients-link:focus {
  border-color: var(--accent-color);
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.footer-icon {
  fill: #FFFFFF;
}

.project-title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.portfolio-btn {
  padding: 6px 22px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  transition-property: filter;
  transition-property: color;
  transition-property: background-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects .item {
  margin-right: 29px;
  margin-bottom: 30px;
}

.projects .item:nth-child(3n) {
  margin-right: 1px;
}

.projects .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-img {
  display: block;
}

.project-container {
  background: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  box-sizing: border-box;
  padding: 20px 24px;
}

.section-project {
  padding-top: 50px;
  padding-bottom: 94px;
}

.project-unit {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-align: left;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .item .link:hover,
.projects .item .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects .link {
  display: block;
  color: var(--secondary-text-color);
}

.projects .link:hover .project-overlay,
.projects .link:focus .project-overlay {
  transform: translateY(0%);
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.navigation {
  display: flex;
  align-items: center;
}

.container.nav {
  display: flex;
  align-items: center;
}

.section.advantages {
  padding-top: 94px;
}

/* logo */
.logo {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo-accent {
  color: var(--accent-color);
}

/* site nav */
.site-nav.list {
  display: flex;
}

.site-nav .link {
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.site-nav .link:hover, .site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav-item {
  position: relative;
}

.site-nav-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  opacity: 0;
  position: absolute;
  bottom: -14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-item:hover::after {
  opacity: 1;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

/* auth-nav list  */
.auth-nav .link {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover, .auth-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .link:hover .header-icon,
.auth-nav .link:focus .header-icon {
  fill: var(--accent-color);
}

.auth-nav.list {
  display: flex;
  margin-left: auto;
}

.address-nav {
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.header-icon {
  fill: var(--secondary-text-color);
  margin-right: 10px;
}

/* ======================style for portfolio.html ==================*/
.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  position: absolute;
  bottom: -14px;
}

.portfolio-menu {
  padding-top: 94px;
  text-align: center;
}

.address {
  display: inline-block;
  width: 231px;
  margin-bottom: 9px;
  color: var(--white-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.contacts .link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.link.email {
  display: inline-block;
  margin-bottom: 9px;
}

.section-footer {
  display: flex;
  align-items: baseline;
}

.join-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.social-list-footer.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: color;
  transition-property: background-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-footer.link:hover .icon,
.social-list-footer.link:focus .icon {
  fill: var(--white-color);
}

.social-list-footer.link:hover, .social-list-footer.link:focus {
  background-color: var(--accent-color);
}

.section-join {
  margin-left: 70px;
}

.social-list.list {
  margin-top: 20px;
}

.section-subscribe {
  margin-left: 93px;
}

.button.subscribe {
  height: 50px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon.subscribe {
  margin-left: 10px;
}

.form-input-footer {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  padding-left: 16px;
}

.form {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
/*# sourceMappingURL=main.css.map */