
@media screen and (min-width: 320px) and (max-width: 767px) {


    .header-desktop{
        display: none;
    }

    .header{
        border-bottom: 1px solid #ECECEC;
        position: relative;
    }
    
.navigation-mobile{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
    
    /* logo */
    
    .logo{
        padding-top: 25px;
        padding-left: 15px;
        padding-bottom: 25px;
        color: #000000;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.192;
        letter-spacing: 0.03em;
    }
     .logo-accent {
         color: var(--accent-color);
     }
    
     /* site nav */
   
     .site-nav .link{
         display: block;
        color: var(--primary-text-color);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        
        &:hover,
        &:focus {
        color:var(--accent-color);
    }
     }
    
    
    .site-nav-item{
        position: relative;
    
        &::after{
            content: "";
            display: block;
            width: 61px;
            height: 4px;
            background: #2196F3;
            border-radius: 2px;
            opacity: 0;
            position: absolute;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            margin: 0 auto;
        }
        &:hover::after{
            opacity: 1;
        }

        &:not(:last-child){
            margin-bottom: 40px;
        }
    
    }
    
    
    /* auth-nav list  */
    
    .auth-nav .link{
        color: var(--secondary-text-color);
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
        &:hover,
        &:focus{
           color:var(--accent-color);
        }
    
        &:hover .header-icon,
        &:focus .header-icon{
           fill:var(--accent-color);
        }

    }

    .auth-nav .item{
        display: block;
        &:not(:last-child){
            margin-bottom: 16px;
        }
    }
    
    
    
    .auth-nav.list{
       text-align: center;
    }
    
    .address-nav{
        margin-left: auto;
    }
   
    
    .header-icon{
        fill: var(--secondary-text-color);
        margin-right: 10px;
    }
    
    /* ======================style for portfolio.html ==================*/
    
    .site-nav .link.current{
        color: var(--accent-color);
    
        &::after{
            content: "";
            display: block;
            width: 61px;
            height: 4px;
            background: #2196F3;
            border-radius: 2px;
        }
    } 

    .menu-button .icon-cross{
        display: none;
    }
    
    .menu-button.is-open .icon-cross{

    display: block;
    }

    .menu-button.is-open .icon-menu{

    display: none;
    }

    .menu-container{
     display: none;
     position: absolute;
     top: 100%;
     width: 100%;
     left: 0;

     background-color: white;
    height: 393px;


     &.is-open{
        display: block;
    }
 }

 .menu-button{
     width: 40px;
     height: 40px;
     border: none;
     background-color: white;
     margin-top: 20px;
     margin-right: 20px;
 }


 .mobile-header{
     display: flex;
     justify-content: space-between;
 }

}






    @media screen and (min-width: 768px) and (max-width: 1199px) {

        .mobile-menu{
            display: none;
        }

        .header{
            border-bottom: 1px solid #ECECEC;
        }
        
        .navigation{
            display: flex;
            align-items: center;
        }
        
        .container.nav{
            display: flex;
            align-items: center;
        
        }
        
        
        /* logo */
        
        .logo{
            padding-top: 25px;
            padding-bottom: 25px;
            margin-right: 93px;
            color: #000000;
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            font-size: 26px;
            line-height: 1.192;
            letter-spacing: 0.03em;
        }
         .logo-accent {
             color: var(--accent-color);
         }
        
         /* site nav */
         .site-nav.list{
             display: flex;
         }
         .site-nav .link{
             display: block;
            color: var(--primary-text-color);
            font-weight: 500;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.02em;
            padding-top: 20px;
            padding-bottom: 20px;
            
            &:hover,
            &:focus {
            color:var(--accent-color);
        }
         }
        
        
        .site-nav-item{
            position: relative;
        
            &::after{
                content: "";
                display: block;
                width: 100%;
                height: 4px;
                background: #2196F3;
                border-radius: 2px;
                opacity: 0;
                position: absolute;
                bottom: -14px;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
            &:hover::after{
                opacity: 1;
            }
        
            &:not(:last-child){
                margin-right: 50px;
            }
        }
        
        
        /* auth-nav list  */
        
        .auth-nav .link{
            color: var(--secondary-text-color);
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.02em;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
            &:hover,
            &:focus{
               color:var(--accent-color);
            }
        
            &:hover .header-icon,
            &:focus .header-icon{
               fill:var(--accent-color);
            }
        }
        
        
        
        .auth-nav.list{
            display: flex;
            flex-wrap: wrap;
            
            margin-left: auto;
        }
        
        .address-nav{
            margin-left: auto;
        }
        .auth-nav .item{
            margin-left: 84px;
        }
        
        .header-icon{
            fill: var(--secondary-text-color);
            margin-right: 10px;
        }
        
        /* ======================style for portfolio.html ==================*/
        
        .site-nav .link.current{
            color: var(--accent-color);
        
            &::after{
                content: "";
                display: block;
                width: 100%;
                height: 4px;
                background: #2196F3;
                border-radius: 2px;
                position: absolute;
                bottom: -14px;
            }
        } 
        
        }
    
    
    
    
    
    
    



@media screen and (min-width: 1200px) {

    .mobile-menu{
        display: none;
    }

.header{
    border-bottom: 1px solid #ECECEC;
}

.navigation{
    display: flex;
    align-items: center;
}

.container.nav{
    display: flex;
    align-items: center;

}


/* logo */

.logo{
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 93px;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
}
 .logo-accent {
     color: var(--accent-color);
 }

 /* site nav */
 .site-nav.list{
     display: flex;
 }
 .site-nav .link{
     display: block;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    padding-top: 20px;
    padding-bottom: 20px;
    
    &:hover,
    &:focus {
    color:var(--accent-color);
}
 }


.site-nav-item{
    position: relative;

    &::after{
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background: #2196F3;
        border-radius: 2px;
        opacity: 0;
        position: absolute;
        bottom: -14px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover::after{
        opacity: 1;
    }

    &:not(:last-child){
        margin-right: 50px;
    }
}


/* auth-nav list  */

.auth-nav .link{
    color: var(--secondary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
       color:var(--accent-color);
    }

    &:hover .header-icon,
    &:focus .header-icon{
       fill:var(--accent-color);
    }
}



.auth-nav.list{
    display: flex;
    margin-left: auto;
}

.address-nav{
    margin-left: auto;
}
.auth-nav .item + .item{
    margin-left: 50px;
}

.header-icon{
    fill: var(--secondary-text-color);
    margin-right: 10px;
}

/* ======================style for portfolio.html ==================*/

.site-nav .link.current{
    color: var(--accent-color);

    &::after{
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background: #2196F3;
        border-radius: 2px;
        position: absolute;
        bottom: -14px;
    }
} 

}