.team.list{
    display: flex;    
}

.item.team{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team .item + .item{
    margin-left: 30px;
}


.team-name {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
}

.team-position{  
    text-align: center;
    margin-top: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}
.section-title.team{
    padding-top: 94px;
}

.team-container{
    padding: 30px 32px;
    background-color: var(--white-color);
}
.section.team{
    background-color: #F5F4FA;
}

.social-list.link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition-property: color;
    transition-property: background-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .icon,
    &:focus .icon{
    fill: var(--white-color);

}

     &:hover,
     &:focus{
    background-color: var(--accent-color);

}
}

.icon{
    fill:#AFB1B8;
}

.social-list.point:not(:last-child){
    margin-right: 10px;
}


.social-list.list{
    display: flex;
    justify-content: space-between;
}